<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinerehab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddictMessage"></activity>
        <activity
            android:name=".ReplyAddict"
            android:label="@string/title_activity_reply_addict"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddictMessages"
            android:label="@string/title_activity_addict_messages"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PsyLogin"
            android:label="Psy Login" />
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".psyList"
            android:label="@string/title_activity_psy_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".about2"
            android:label="@string/title_activity_about2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Chat"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login2"
            android:label="@string/title_activity_login2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>